{% extends 'base.html' %}
{% block content %}

<h1>Cymbal List</h1>

{% for cymbal in cymbals %}
    <div class="card">
            <div class="card-content">
                <span class=""card-title>{{ cymbal.brand}} {{cymbal.type }}</span>
                <p>Size: {{ cymbal.size }} </p>
                <p>Description: {{ cymbal.description }}</p>
                {% if cymbal.sale == 'sold' %}
                    <p>Sold</p>
                {% else %}
                    <p>For Sale</p>
                 {% endif %}   
            </div>
    </div>
    {% endfor %}

    {% endblock %}